<!doctype html5>
<html>
<style>
h3.red-text {
  color:red;
}
</style>


<head>
  <title>Login</title>
</head>
<body>
  <h2>Login</h2>
  <form id="login" action="{{ url_for('login')}}" method="post">
    Username :  <input type="text" id="username" name="username" />
    Password : <input type="password" id="password" name="password" />
    <input type="submit" id="submit" text="Login" />
  </form>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <h3 class="red-text" color=red;>{{ message }}</h3>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

<h3>Sign Up</h3>
    <a href="../signup/"> <input type="submit" value="Sign Up"></a>

</body>
</html>
